body {
  margin: 0;
  padding: 0;
  background: #fcdde9;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#card {
  background: white;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: scale(0);
  transition: transform 1s ease;
}

#card.show {
  transform: scale(1);
}

#card h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

#card p {
  font-size: 18px;
  margin: 10px 0;
}
